<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy View</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site</h1>
"\n#{@puppy.name}"
    <p><%="Puppy Name:\n#{@puppy.name}"%></p>
    <p><%="Puppy Breed:\n#{@puppy.breed}"%></p>
    <p><%="Puppy Age:\n#{@puppy.age}"%></p>
  </body>
</html
